# =====================================================
# Service Kubernetes - User Service
# =====================================================
apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: techshop
spec:
  type: ClusterIP

  selector:
    app: user-service

  ports:
    - port: 8001
      targetPort: 8001